body {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  margin-bottom: 40px;
  flex-direction: column;
  align-items: center;
  align-content: center;
  align-self: center;
  background-color: rgb(115, 16, 172);
  background-color: rgb(51, 49, 49);
  background-image: url(/images/booklybg-2.jpg);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
  .container {
    margin-top: 100px;
    border-radius: 20px;
    padding: 80px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 350px;
    width: 400px;
    .emojiIcon{
        font-size: 100px;
    }
    button{
        background-color: blueviolet;
        padding: 10px 20px;
        border-radius: 5px;
        box-shadow: 5px 5px 5px darkgray;
        a{
            text-decoration: none;
            color: white;
        }

    }
    img{
        width: 200px
    }
    p {
      width: 280px;
      text-align: center;
    }
    .stars {
      display: flex;
      justify-content: space-between;
      width: 200px;
      cursor: pointer;
      &.colors {
        color: rgb(252, 177, 38);
      }
    }
  }
}
hr{
    color: black;
}
@media screen and (max-width: 500px) {
  body {
    background-color: white;
    .container {
      margin-top: 0px;
    //   border: 2px solid red;
    padding-left: 230px;
      flex-direction: column;
      align-items: center;

    }
  }
}
