body {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  margin-bottom: 40px;
  flex-direction: column;
  align-items: center;
  align-content: center;
  align-self: center;
  background-color: rgb(115, 16, 172);
  background-color: rgb(51, 49, 49);
  background-image: url(/images/booklybg-2.jpg);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
  .container {
    margin-top: 50px;
    border-radius: 20px;
    padding: 40px 80px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    width: 400px;
    h2{
        span{
            font-size: 100px;
            position: relative;
            transform: scale(2,3);
            transform:rotate(10deg);
            right: 16px;
            top: 24px;
            color: rgb(228, 133, 44);
        }
    }
    .emojiIcon {
      font-size: 100px;
    }
    button {
      background-color: rgb(228, 133, 44);
      border: 1px solid rgb(236, 150, 20);
    //   box-shadow: -0px 2px 9px rgb(228, 133, 44);
      padding: 10px 20px;
      border-radius: 5px;
      a {
        text-decoration: none;
        color: white;
      }
    }
    button:hover {
        background-color: rgb(233, 97, 18);
      border: 1px solid rgb(233, 97, 18);
      box-shadow: -0px 2px 9px rgb(233, 97, 18);
    //   background-color: rgb(46, 136, 28);
    //   box-shadow: -0px 2px 9px rgb(46, 136, 28);
    //   border: 1px solid rgb(46, 136, 28);
    }
    img {
      width: 200px;
    }
    p {
      width: 280px;
      text-align: center;
    }
    .stars {
      display: flex;
      justify-content: space-between;
      width: 200px;
      cursor: pointer;
      &.colors {
        color: rgb(252, 177, 38);
      }
      #starone:hover,
      #startwo:hover,
      #starthree:hover,
      #starfour:hover,
      #starfive:hover {
        color: rgb(129, 129, 129);
      }
    }
  }
}
hr {
  color: black;
}
@media screen and (max-width: 500px) {
  body {
    // background-color: white;
    .container {
        position: fixed;
      margin-top: 0px;
      flex-direction: column;
      align-items: center;
      min-height: 200px;
    width: 400px;
    padding-bottom: 80px;
    }
  }
}
